.container {
  display: flex;
  flex-flow: column;
}

.button {
  text-align: center;
  box-shadow: 8px 8px 1px hsla(0, 0%, 0%, 50%);
  outline: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  user-select: none;
  touch-action: none;

  margin-top: 8px;
}

.button:first-child {
  margin-top: 0;
}

.primaryButton {
  width: 60px;
  height: 60px;
}

.primaryButton[data-pressed="true"] {
  box-shadow: 0px 0px 0px hsla(0, 0%, 0%, 30%);
  background-color: gray;
}

.secondaryButton {
  font-size: 13px;
  background-color: gray;
  width: 60px;
  height: 30px;
}
