.container {
  display: grid;
  grid-template: 30px 60px / 30px 60px;
  grid-gap: 8px;
}

.button {
  position: relative;

  text-align: center;
  box-shadow: 8px 8px 1px hsla(0, 0%, 0%, 50%);
  outline: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  user-select: none;
  touch-action: none;
}

.primaryButton {
  width: 60px;
  height: 60px;
}

.button[data-pressed="true"] {
  box-shadow: 0px 0px 0px hsla(0, 0%, 0%, 30%);
  background-color: black;
  color: white;
}

.secondaryButton {
  font-size: 13px;
  background-color: gray;
}

.container > *:nth-child(3) {
  writing-mode: vertical-lr;
}

.button.highlighted {
  background-color: blue;
  color: white;
  animation: highlighted-outline 2s forwards;
  animation-iteration-count: infinite;
}

@keyframes highlighted-outline {
  0% {
    outline-color: hsla(0, 0%, 100%, 50%);
  }
  50% {
    outline-color: black;
  }
  100% {
    outline-color: hsla(0, 0%, 100%, 50%);
  }
}
