.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  touch-action: none;
}

.artboardStage {
  touch-action: none;
  width: 100%;
  height: 100%;
}

.artboardContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: white;
  outline: 3px solid black;
}

.artboard {
  width: 100%;
  height: 100%;
}

/* palette + tool selection */
.toolGroup {
  position: absolute;
  align-self: flex-start;
  margin: 8px;
}

.toolGroup > * {
  margin-top: 8px;
}
.toolGroup > *:first-child {
  margin-top: 0;
}

.colorSwatch {
  width: 100%;
  height: 40px;
}

.menubar {
  position: absolute;
  align-self: flex-end;
}

.cursor {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: hsla(0, 0%, 100%, 50%);
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 70%);
  transform: translate(-50%, -50%);
}

.timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: darkgray;
  height: 80px;
}

@media (display-mode: standalone) {
  .timeline {
    margin-bottom: 24px;
  }
}

.cursorModeButtons {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.highlight {
  position: absolute;
  opacity: 0.5;
}
