.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: lightgray;
  touch-action: none;
}

.artboard {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: white;
}

.toolbar {
  position: absolute;
  bottom: 20px;
  align-self: center;
}

.palette {
  position: absolute;
}
