.scrollContainer {
  overflow: scroll hidden;
  padding: 20px;

  display: flex;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-right: 80vw;
}

.frameButton {
  height: 100%;
  position: relative;
  margin-left: 10px;

  display: flex;
}

.frameButton:first-child {
  margin-left: 0;
}

.addFrameButton .label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(0, 0%, 100%, 50%);
}

.artboardPreview {
  align-self: center;
  background-color: white;
  display: block;

  outline: 1px solid black;
  transition: 0.1s outline-width;
}

.selectedArtboardPreview {
  outline-width: 3px;
}

.addFrameButton .artboardPreview {
  outline: 2px solid black;
  filter: blur(3px);
  opacity: 0.8;
  outline: none;
}
.addFrameButton:hover .artboardPreview {
  /* outline: 3px solid green; */
  opacity: 1;
}
