.container {
  width: 100%;
  height: 100%;

  display: flex;
}

.scrollContainer {
  /* width: 100%; */
  /* height: 100%; */
  overflow: scroll hidden;
  padding: 10px;

  display: flex;
}

.controlsContainer {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  height: 100%;
  width: 60px;
  padding: 0 10px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-color: gray;
}

.frameContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-right: 80vw;
  padding-left: 80vw;
}

.frameButton {
  height: 100%;
  position: relative;
  margin-left: 10px;

  display: flex;
}

.frameButton.prerollOrPostroll {
  opacity: 0.5;
}

.frameButton:first-child {
  margin-left: 0;
}

.artboardPreview {
  align-self: center;
  background-color: white;
  display: block;

  outline: 0px solid black;
  transition: 0.1s outline-width;
}

.frameButton.prerollOrPostroll .selectedArtboardPreview {
  outline-width: 1px;
}
.selectedArtboardPreview {
  outline-width: 3px;
}

.addFrameButton .artboardPreview {
  outline: 2px solid black;
  filter: blur(1px);
  opacity: 0.8;
  outline: none;
}
.addFrameButton:hover .artboardPreview {
  /* outline: 3px solid green; */
  opacity: 1;
}
.addFrameButton label {
  color: white;
}
