.container {
  display: flex;
  flex-flow: column;

  color: white;
}

.container > * {
  margin-top: 8px;
}
.container > *:first-child {
  margin-top: 0;
}

.toolButton {
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
}

.toolButton.selected {
  background-color: black;
}

.toolButton input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
