.container {
  display: flex;
  flex-flow: row;

  color: white;
}

.container > * {
  margin-left: 8px;
}
.container > *:first-child {
  margin-left: 0;
}

.toolButton {
  width: 50px;
  height: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
}

.toolButton.selected {
  background-color: black;
}

.toolButton input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.toolButton input[type="checkbox"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.mapEditToggle.selected {
  background-color: red;
}
